language: groovy
jdk:
  - oraclejdk7
branches:
  only:
    - master
env:
  global:
    - TERM=dumb
  matrix:
    - GRAILS_VERSION=2.4.4
    - GRAILS_VERSION=2.3.11
    - GRAILS_VERSION=2.2.5
matrix:
  fast_finish: false
script: ./travis-build.sh